.quiz {
  flex-direction: column;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(248, 247, 246);
  min-height: 100vh;
}

.quiz_content {
  padding: 24px;
  max-width: 528px;
  box-sizing: border-box;
  margin: 0px auto;
}

.quiz_title {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1px;
  color: var(--primary);
  margin-bottom: 24px;
  text-align: center;
}

.quiz_optionsContainer {
  margin-bottom: 24px;
}

.quiz_options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

@media (max-width: 1024px) {
  .quiz_content {
    width: inherit;
  }

  .quiz_options {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
