.option {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  margin-top: 12px;
  box-shadow: rgba(11, 59, 60, 0.05) 0px 2px 4px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  outline: rgb(227, 225, 223) solid 1px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.option--image {
  justify-content: center;
  margin-top: 0px;
  box-shadow: rgba(11, 59, 60, 0.05) 0px 2px 4px;
  background-color: rgb(255, 255, 255);
  padding: 12px;
  cursor: pointer;
  outline: rgb(227, 225, 223) solid 1px;
  border-radius: 16px;
  box-sizing: border-box;
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}

.option:hover {
  background-color: rgb(248, 247, 246);
  outline: rgb(227, 225, 223) solid 2px;
}

.option:has(input:checked, .option_imageContainer--checked) {
  outline: var(--primary) solid 2px;
}

.option_imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: var(--primary);
}

.option_image img {
  max-width: 110px;
}
