:root {
  --primary: #0b3b3c;
  --secondary: #6d8a83;
  --tertiary: #ff8d7d;

  --button-primary: #ff8d7d;
  --button-primary-hover: #ffa396;
  --button-primary-disabled: #ffa39650;

  --button-secondary: #0b3b3c;
  --button-secondary-hover: #0b3b3c80;
  --button-secondary-disabled: #79978a;
  --button-secondary-disabled-border: #e3e1df;

  --button-tertiary: #7e0707;

  --radio-background: #eee;
  --radio-background-hover: #ccc;

  --background-color: #e8efe9;
  --separator-color: #bdcdc5;

  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}
