.highlight {
  background: url('/images/landing-page.image.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: flex;
  justify-content: start;
}

.highlight svg {
  top: 40px;
  position: absolute;
}

.highlight_textContent {
  width: 468px;
  margin: 0 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.highlight_title {
  color: var(--primary);
  font-size: 92px;
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 1;
}

.highlight_text {
  color: var(--primary);
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: 300;
  line-height: 1.5;
}

.highlight_button {
  background-color: var(--button-tertiary);
  color: var(--white);
  border: none;
  padding: 15px 30px;
  font-size: 10px;
  letter-spacing: 1.2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

@media (max-width: 1800px) {
  .container {
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .highlight {
    height: 100%;
  }

  .highlight_title {
    font-size: 2rem;
    margin-top: 70px;
  }

  .highlight_text {
    font-size: 1.2rem;
  }

  .highlight_textContent {
    padding: 20px;
    margin: 0 auto;
    max-width: 370px;
    align-items: center;
  }

  .highlight_button {
    width: 100%;
  }
}
